* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  background-color: #308c00;
  font-family: "Aboreto", cursive;
  padding: 10px;
}
.navlogo {
  margin-right: auto;
  font-size: 1.7rem;
  padding: 0 12px;

  color: #fff;
}
nav ul {
  display: flex;
  list-style: none;
}
.navlinks {
  padding: 12px;
  opacity: 1;
}
.navlinks a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

#burgicon{
  color: white;
  font-size: 35px;
  cursor: pointer;
  display: none;
}
#burgicon:active {
  color: white;
  font-size: 35px;
  transform: rotate(90deg);

  cursor: pointer;
}
#NavDiv {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  opacity: 0.01;
}
#NavDiv a {
  color: white;
  font-size: 2rem;
  text-decoration: none;
}
.descriptiondiv {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 20px 0;
  border-bottom: 1px solid darkgrey;
  margin-bottom: 30px;
  
}

.ad{
  flex: 1;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Aboreto", cursive; ;
}
.ad2{
  flex: 1;
}
.description {
  
  font-size: 1.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  flex: 3;
  overflow: hidden;
}
.img-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;

  flex-direction: column;
}
.searchicon{
  width: 60px;
  height: 60px;
  border: 1px white;
  border-radius: 30px;
  position: fixed;
  right: 2%;
  bottom: 3pc;
  background-color: gainsboro;
  display: flex;
  align-items: center;
  justify-content: center;


}
.search{
  color: #308c00;
  display: block;
  font-size: 2rem;
}

@media screen and (max-width: 913px) {
  #burgicon {
    
    display: block;
  }
  .navlinks {
    display: none;
  }
  #NavDiv {
    opacity: 1;
  }
}
footer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}
footer h3{
    text-align: center;
    font-size: 2rem;
}
footer p{
  max-width: 40vw;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1rem;
}